<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Hola Mundo</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	</head>
	<body>
		<h2>Lista de Paginas</h2>
		<div class="list-group">
			<a href="/saludo" class="list-group-item list-group-item-action">Pagina Saludo</a>
			<a href="/operaciones?num1=12&num2=4&ope=*" class="list-group-item list-group-item-action">Pagina Operaciones</a>
			<a href="/formularioRegistro" class="list-group-item list-group-item-action">Pagina Formulario</a>	
			<a href="/" class="list-group-item list-group-item-action">Ir a la Pagina Principal</a>	
			
		</div>
	</body>
</html>